APP_NAME=TinkuMobiles
APP_ENV=production
APP_KEY=base64:Kaj54GD6xx/QNbbCUuRnt2/RoYOvs5csNCR1ovXaymg=
APP_DEBUG=false
APP_URL=https://api.tinkumobile.in

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u123456789_tinku
DB_USERNAME=u123456789_tinku
DB_PASSWORD=YOUR_STRONG_PASSWORD_HERE

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=no-reply@tinkumobile.in
MAIL_PASSWORD=YOUR_MAIL_PASSWORD_HERE
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="no-reply@tinkumobile.in"
MAIL_FROM_NAME="Airtel Recovery"

SANCTUM_STATEFUL_DOMAINS=tinkumobile.in
SESSION_DRIVER=file
