APP_NAME=TinkuMobiles
APP_ENV=local
APP_KEY=base64:Kaj54GD6xx/QNbbCUuRnt2/RoYOvs5csNCR1ovXaymg=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tinkumobiles
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="no-reply@tinkumobiles.com"
MAIL_FROM_NAME="TinkuMobiles"

SANCTUM_STATEFUL_DOMAINS=localhost:5173,localhost:8000
